torch
torchvision
transformers
safetensors
faster-whisper
openai-whisper
openai-clip
opencv-python
pillow
numpy
onnxruntime
openai
pandas
scikit-learn
scipy
speechmos
soundfile
tqdm
pyyaml
decord
timm
einops
